<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static' , filename='css/login.css')}}" />
   <!-- Include Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!--Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@0;1&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">

</head>
<body class="body">
      <div class="container-fluide">
        <h1>Galsen BookStore </h1>
        <div class="login">


                <img src="{{url_for('static', filename='images/cover.png')}}" alt="" srcset="">

            <div class="child">
                <div class="item">
                    <div></div>
                    <span>Login</span>
                    <div></div>

                </div>
                <div class="item">
                    <h3>Nous sommes heureux de vous revoir !</h3>
                </div>
                <div class="item">
                    <input type="text"/>
                    <input type="text"/>
                </div>
                <div class="item">

                </div>
            </div>
        </div>
      </div>



      <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>