{% extends 'layout/base.html' %}



{% block table %}
    <div class="cartes" >
         {% for book in books %}
            <a href="{{ url_for('views.detail', card_id=book._id) }}">
                <img class="carte" src="{{book.image}}" alt="images" style="width: 126px;" >
            </a>
        {% endfor %}
    </div>

    <div id="books">

    </div>



{% endblock %}



{%block style %}

<style>
    .content {
        background: #F9BF21;
        height: 176vh;
    }
    input {
        background: red;
    }
    .cartes {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
   }





</style>
{%endblock %}