<nav>


      <ul>

          <a href="#" class="show">
            <img src="{{ url_for('static', filename='images/group.png') }}">
          </a>

           <li><a href="#">
            <img src="{{ url_for('static', filename='images/home.png') }}">
          </a></li>

          <li><a href="#">
               <img src="{{ url_for('static', filename='images/shop.png') }}">
          </a></li>

          <li><a href="#">
            <img src="{{ url_for('static', filename='images/caisse.png') }}">
          </a></li>

          <li><a href="#">
            <img src="{{ url_for('static', filename='images/params.png') }}">
          </a></li>

          <li class="power-off"><a href="#">
             <img src="{{ url_for('static', filename='images/power.png') }}">
        </a></li>


    </ul>
  </nav>
